*{
	margin: 0 auto;
	padding: 0;

}

body{
	font-family: Roboto, sans-serif;
	background: #f2f5f7;
}

.clear{
	clear: both;
}

a{

	text-decoration: none;
	color: inherit;
}

a:hover{
	text-decoration: underline;
}

.default:hover, .pagination a{
	text-decoration: none;
}

.cover-background, header, main .main-static .side-img{
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-position: center;
}
.scroll-top{
	font-weight: 600;
	text-transform: uppercase;
	position: fixed;
	padding: 15px;
	bottom: 30px;
	right: 30px;
	transition: 300ms ease-in-out;
	transition-property: background, color, box-shadow;
	background: #fff;
}
.scroll-top:hover{
	background: #2196F3;
	color: #fff;
	text-decoration: none;
}

.btn{
	display: block;
	font-size: 1rem;
	font-weight: 600;
	color: white;
	padding: 8px 24px;
	border: none;
	text-transform: capitalize;
	cursor: pointer;
}

.btn.global, .btn-plus, .btn-control, .pagination a{
	cursor: pointer;
	background: #ec407a !important;
	border-bottom: 3px solid rgba(233, 30, 99, 1);
}
.btn-control:hover{
	text-decoration: none;
}
/*solo image hover shadow*/
main .preview-image:hover{
	cursor: pointer;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

/*main global shadow*/
.shadow, 
.modal,
.modal-admin, 
.dropdown.collapse, 
nav, 
main .container,
.card .card-item,
.card-2 .card-item,
.scroll-top,
.btn-plus,
.btn-control,
.preview-float,
.pagination a{
	background: #fff;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
footer,{
	-webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.shadow, 
.modal,
.modal-admin, 
.btn-submit, 
.btn.global,
.dropdown.collapse:hover, 
nav, 
main .container, 
main .preview-image,
.card .card-item,
.card-2 .card-item,
footer,
.btn-plus,
.btn-control,
.preview-float,
.pagination a{
		transition: box-shadow 300ms;
}

.shadow:hover, 
.modal:hover, 
.modal-admin:hover,
.btn-submit:hover,
.btn.global:hover, 
.dropdown.collapse:hover, 
nav:hover, 
main .container:hover,
.card .card-item:hover,
.card-2 .card-item:hover,
.scroll-top:hover,
.btn-plus:hover,
.btn-control:hover,
.preview-float:hover,
.pagination a:hover{
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
footer:hover{
	-webkit-box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.3);
}
/*alert*/
.alert{
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 1em 2em;
	font-size: 1em;
	color: #fff;
	font-weight: 600;
}

.alert.danger{
	background: #f44336;
}

.alert.success{
	background: #4CAF50;
}

.alert.info{
	background: #2196F3;
}

.alert.warning{
	background: #ffeb3b;
}


/*animation frame*/
.bounce, .modal, .modal-admin, .preview-float{
	animation: bounce 500ms ease-in-out;
}

@keyframes bounce{
	0%{
		transform: scale(0);
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
	}50%{
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
	}80%{
		transform: scale(0.95);
		-webkit-transform: scale(0.95);
		-moz-transform: scale(0.95);
	}100%{
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
	}
}