main{
	padding: 0 30px;
	margin-top: -20vh;
}
.normalize{
	margin-top: 90px !important;
}

main .container{
	padding: 0 30px 120px;
	background: #fff;
	box-sizing: border-box;
}
main .main-title{
	padding: 100px 0 130px;	
}
.main-title{
	text-transform: capitalize;
	text-align: center;
}
.main-title.inverse{
	color: #fff;
}
main .main-title h1{
	color: rgba(0,0,0,0.8);
	margin-bottom: 10px;
}
main .main-title p{
	color: rgba(0,0,0,0.3);
	font-weight: 500;
}

main .main.preview{
	display: flex;
	align-items: center;
	margin-bottom: 80px;
}
main .preview-content{
	width: 54%;
	margin: 0 2%;
}
main .preview-content h2{
	text-transform: capitalize;
	font-size: 600;
	margin-bottom: 30px;
}
main .preview-content h3{
	text-transform: capitalize;
	line-height: 30px;
}
main .preview-content p{
	font-size: 120%;
}
main .preview-image{
	width: 42%;
	border-radius: 3px;
	overflow: hidden;
}
main .preview-content span{
	display: inline-flex;
	display: inline-moz-flex;
	display: inline-ms-flex;
	display: inline-o-flex;
	display: inline-webkit-flex;
	width: 160px;
}
main .preview-content span.value{
	font-size: 90%;
	margin-left: 20px;
}
main .preview-image img{
	display: block;
	width: 100%;
}

main .main-article p{
	text-align: justify;
	margin-bottom: 30px;
	line-height: 140%;
}

main .main-article p:first-child{
	text-indent: 10%;
}

main .main-article img{
	width: 50%;
	display: flex;
	margin-bottom: 30px;	
}

main .main-static{
	min-height: 600px;
	display: flex;
}
main .main-article .side-img{
	background-image: url(../img/the_lost_hindu_temple_in_the_jungle_mist___indonesia-wallpaper-2560x1600.jpg);
	width: 66.6666%;
}
main .main-article .side-content{
	width: 33.3333%;
}

.comment-box{
	margin-bottom: 30px;
	border-radius: 3px;
	padding: 16px 24px;
	background: #f5f5f5;
}

.comment-box .comment-content{
	padding: 16px 0;
}