main{
	padding: 0 30px;
	margin-top: -120px;
}

main .container{
	padding: 0 30px 120px;
	background: #fff;
	box-sizing: border-box;
}

main .main.title{
	padding: 100px 0 130px;
	text-align: center;
}
main .main.title h1{
	color: rgba(0,0,0,0.8);
	margin-bottom: 10px;
}
main .main.title p{
	color: rgba(0,0,0,0.3);
	font-weight: 500;
}

main .main.preview{
	display: flex;
	align-items: center;
	margin-bottom: 80px;
}
main .preview-content{
	width: 54%;
	margin: 0 2%;
}
main .preview-content h2{
	text-transform: capitalize;
	font-size: 600;
	margin-bottom: 30px;
}
main .preview-content p{
	font-size: 120%;
}
main .preview-image{
	width: 42%;
	border-radius: 3px;
	overflow: hidden;
}
main .preview-image img{
	width: 100%;
}

main .btn{
	width: 160px;
	position: absolute;
	right: 0;
	left: 0;
}


.card-wrap{
	width: 100%;
	display: flex;
	max-width: 1200px;
	padding: 0 -15px;
}

.card{
	width: 33.333333%;
	padding: 0 15px;
	margin-bottom: 30px;
	box-sizing: border-box;
}
.card .card-item{
	background: #000;
}

.card-item .card.header{
	width: 100%;
	height: auto;
}

.card-item .card.header img{
	width: 100%;
	height: auto;
}