main{
	padding: 0 30px;
	margin-top: -20vh;
}

main .container{
	padding: 0 30px 120px;
	background: #fff;
	box-sizing: border-box;
}
main .main-title{
	padding: 100px 0 130px;	
}
.main-title{
	text-transform: capitalize;
	text-align: center;
}
.main-title.inverse{
	color: #fff;
}
main .main-title h1{
	color: rgba(0,0,0,0.8);
	margin-bottom: 10px;
}
main .main-title p{
	color: rgba(0,0,0,0.3);
	font-weight: 500;
}

main .main.preview{
	display: flex;
	align-items: center;
	margin-bottom: 80px;
}
main .preview-content{
	width: 54%;
	margin: 0 2%;
}
main .preview-content h2{
	text-transform: capitalize;
	font-size: 600;
	margin-bottom: 30px;
}
main .preview-content p{
	font-size: 120%;
}
main .preview-image{
	width: 42%;
	border-radius: 3px;
	overflow: hidden;
}
main .preview-image img{
	display: block;
	width: 100%;
}

