.wrap-modal{
	left: 0;
	top: 0;
	z-index: 9999;
	background: rgba(0,0,0,0.75);
	position: fixed;
	width: 100%;
	height: 100%;
	
}
.modal-box, .modal-box-admin{
	width: 100%;
	display: flex;
	overflow: auto;
	height: 100%;
}
.modal-box-admin{
	display: block;
}
.wrap-modal.none{
	display: none;
}
.modal, .modal-admin{
	min-width: 280px;
	text-transform: capitalize;
}

.modal{
	align-self: center;
	max-width: 280px;
}

.modal-admin{
	box-sizing: border-box;
	margin: 60px auto 120px;
	min-width: 280px;
	width: 50%;
}
.modal-body, .modal-footer{
	background: #fff;
}
.modal-header, .modal-body, .modal-footer{
	box-sizing: border-box;
	padding: 1em 2em;
}
.modal-header{
	background: #2196F3;
	color: white;
}

.modal-body{
	border: 1px solid #dddddd;
	border-left: 0;
	border-right: 0;
}

.modal-body textarea{
	min-height: 240px;
}

.modal-body input, .modal-body textarea{
	color: #333;
	display: block;
	max-width: 100%;
	width: 100%;
	font-weight: 600;
	font-size: 1rem;
	box-sizing: border-box;
	border: none;
	padding: 8px 6px;
	margin-bottom: 1em;
	border-bottom: 2px solid #dddddd;
}
.modal-body input[type=file]{
	padding-left: 0;
	border-bottom: 0;
	margin: 8px 0;
}
.modal-body label, .form-search label{
	font-weight: 800;
	color: #aaa;
	display: block;
	padding: 8px 6px 8px 0;

}
.modal-body select{
	width: 160px;
	/*display: block;*/
	margin: 8px 16px 8px 0;
}
.modal-body select, .modal-body select option, .form-search select, .form-search select option{
	padding: 8px 16px;
	font-size: 1rem;
	color: #333;
	font-weight: 700;
}

.modal-body .btn-submit{
	background: #ec407a;
	border-bottom: 3px solid rgba(233, 30, 99, 1);
	margin-top: 0.5em;
	float: right;
	margin-right: -1em;

}

.form-search{
	align-items: center;
	padding: 1rem;
	display: flex;
}

.form-search .width-input{
	display: inline-flex;
	margin: 0;
}

.form-search label{
	margin: 0 auto 0 0;
	padding-right: 20px;
}
.form-search input, .form-search select{
	color: #333;
	font-weight: 600;
	font-size: 1rem;
	box-sizing: border-box;
	padding: 8px 6px;
	margin-left: 1em;
	border: 2px solid #dddddd;
}

.form-search button{
	width: 120px;
	margin-right: 20px;
}

.modal-footer{

}
.modal-footer a{
	font-size: 0.825em;
	color: rgba(0,0,0,0.54);
	font-weight: 600;
}

@media screen and (max-width: 576px){
	.wrap-modal{
		display: block;
		position: static;
	}
	.modal, .modal-admin{
		max-width: 100%;
		width: 100%;
		height: 100%;
	}
}

