.navbar-toggle, .dropdown, .toggle{
	cursor: pointer;
}

nav{
		top: 0;
		width: 100%;
		position: fixed;
		background: #2196F3;
}
.navbar{
	text-transform: capitalize;
	color: #fff;
	font-size: 1em;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 1em 0;
	box-sizing: border-box;
}
.navbar-brand, .navbar-brand:hover{
	text-decoration: none;
}
.navbar.main{
	width: 260px;
	background: #333333;
}

.navbar.sub{
}

.navbar.sub .dropdown{
	

}

.navbar a{

}

.dropdown{
	position: relative;
}

.dropdown.collapse{
	width: 120px;
	height: auto;
	background: #fff;
	border: 1px solid #ddd;
	position: absolute;
	top: 60px;
	right: 0;
}
.dropdown.list{
	color: #333;
	list-style: none;
}
.dropdown.list li a{
	padding: 1.2em 1em 1em 1em;
	display: block;
}